body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    background-color: #527ef5;
    color: #E8E0D2;
}

header {
    background-color: #4b2123;
    background-image: linear-gradient(
        rgba(22, 59, 45, 0.55),
        rgba(22, 59, 45, 0.55)
    ),
    url("banner.jpg");

    background-size: cover;
    background-position: center;
    padding: 35px 20px 20px;
    text-align: center;
}

.logo {
    font-size: 46px;
    font-weight: bold;
    font-family: "Arial Rounded MT", Helvetica Rounded, Arial, sans-serif;
    letter-spacing: 10px;
    margin-bottom: 18px;

    color: #FFF6E8;

    text-shadow:
        0 -1px 0 #F0C9BA,
        1px 1px 0 #a59d9b,

        1px -1px 0 #535353,

        2px 3px 0 #000000,
        4px 6px 10px rgba(0, 0, 0, 0.85);
}

header a {
    color: #E8E0D2;
    text-decoration: none;
    margin: 0 18px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 6px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

header a:hover {
    color: #ba7df3;
    border-bottom: 1px solid #ba7df3;
}

main {
    max-width: 900px;
    margin: 70px auto;
    padding: 20px;
    text-align: center;
}

h1 {
color: #e5f50d;
-webkit-text-stroke: 1px black;
font-family: "Arial Rounded MT", Helvetica Rounded, Arial, sans-serif;
font-size: 52px;
font-weight: 600;
letter-spacing: 1px;
text-shadow:
2px 2px 0 #5c5a09,
2px 2px 4px rgba(0, 0, 0, 0.90);
}

p {
    color: #E8E0D2;
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
}

.button {
    display: inline-block;
    background-color: #e93e13;
    color: #f3c703;
    padding: 12px 22px;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #a82504;
}

@media (max-width: 600px) {

    header {
        padding: 25px 10px 15px;
    }

    .logo {
        font-size: 36px;
        letter-spacing: 6px;
    }

    header a {
        display: inline-block;
        margin: 17px 7px;
        font-size: 15px;
    }

    main {
        margin: 40px auto;
        padding: 15px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }

}

h2 {
color: #2c2fda;
-webkit-text-stroke: 1px black;
font-family: "Arial Rounded MT", Helvetica Rounded, Arial, sans-serif;
font-size: 32px;
font-weight: 500;
letter-spacing: 3px;
text-shadow: 2px 2px 0 #FFF6E8,
2px 2px 4px rgba(0, 0, 0, 0.60);
margin-top: -10px;
margin-bottom: 18px;
}

h3 {
color: #2c2fda;
-webkit-text-stroke: 1px black;
font-family: "Arial Rounded MT", Helvetica Rounded, Arial, sans-serif;
font-size: 30px;
font-weight: 500;
letter-spacing: 2px;
text-shadow: 2px 2px 0 #FFF6E8,
2px 2px 4px rgba(0, 0, 0, 0.60);
margin-top: -10px;
margin-bottom: 18px;
}

.logo-area img {
    width: 220px;
    height: auto;
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    transform: translateY(30px);
}

@media (max-width: 768px) {
    .logo-area {
        flex-direction: column;
        gap: 0px;
    }

    .logo-area img {
        width: 200px;
    
    }
}

    @media (max-width: 600px) {
    main {
        padding-top: 70px;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    margin-top: 40px;
    box-sizing: border-box;
}

footer a {
    color: #c20d0d !important;
    text-decoration: none !important;
    display: inline-block !important;
    margin: 0 15px !important;
}

footer a:hover {
    color: #870ff7 !important;
    text-decoration: underline !important;
}
@media (min-width: 769px) {
    footer {
        text-align: center;
    }

    footer a {
        color: #c20d0d !important;
        display: inline-block !important;
        margin: 0 15px !important;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    header nav {
        margin-top: 25px;
    }
}